.display-block{

    display: block;
    height:  200px;
    background-color:  blue;
    border: 1px solid #000;

}

.display-inline{

     display: inline;
    background-color:  green;
    border: 1px solid #000;


}

 